.login-form{
    background: rgba(0, 0, 0, 0.75);

    ::placeholder{
        font-size: 16px;
        font-weight: 500;
    }
}

.login{
    background-image: linear-gradient(#0000007e, #0000007e), url(../../assets/img/background_banner.jpg);
    height: 100vh;
}

