@media (max-width: 576px) {
 .sorting-box{
    flex-direction: column;

 }
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (min-width: 1400px) {
}
