.hover-card {
  position: absolute;
  top: -50px;
  left: 165px;
  z-index: 9999;
  width: 330px;
  height: 380px;
  background: #000;
  color: #fff;
  padding: 1px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
