
.hover-card {
  position: absolute;
  top: -130px !important ;
  z-index: 20000 !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  left: 65%;
  transform: translateX(-50%);
  pointer-events: auto;
  height: 400px;
}

.hover-card * {
  pointer-events: auto;
}