.card-list::-webkit-scrollbar {
    display: none;

}

.card-wrapper {
  position: relative;
  width: 250px;
  flex-shrink: 0;
}

.card {
  width: 100%;
  height: auto;
  display: block;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
