.card-list::-webkit-scrollbar {
    display: none;

}

.card-wrapper {
  position: relative;
  width: 250px;
  flex-shrink: 0;
}

.card {
  width: 100%;
  height: auto;
  display: block;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}


/* тут новый код */

.title-cards {
  overflow: visible;
  position: relative;
  z-index: 1;
}

.card-list {
  scroll-behavior: smooth;
  scroll-padding: 0 50px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-top: 100px;
  padding-bottom: 200px;
  margin-top: -100px;
  margin-bottom: -200px;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.wrapper {
  overflow: visible;
  position: relative;
}

.card-wrapper {
  position: relative;
  width: 250px;
  flex-shrink: 0;
  z-index: 1;
}

.card-wrapper:hover {
  z-index: 1000;
  transform: scale(1);
}

.card {
  width: 100%;
  height: auto;
  display: block;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}