.hero-banner-img{
    mask-image: linear-gradient(to right, transparent, black 95%);
        -weblit-mask-image: linear-gradient(to right, transparent, black 55%);
        z-index: 30;
}

.hero-title{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}

.hero-title-img{
    width: 90%;
    max-width: 420px;
    margin-bottom:30px ;
}

.btn-play{
    color: black;

}

.btn-inf{
    color: white;
}

.btn-play:hover{
    background: #ffffffbf;
}

.btn-inf:hover{
    background: #6d6d6e66;
}

.category-cards{
    padding-left: 6%;
}