/* Стилизация скролбара */
.modal-scroll::-webkit-scrollbar {
  width: 8px;
}

.modal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
  
}

.modal-scroll::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Firefox */
.modal-scroll {
  scrollbar-color: #666 transparent;
  scrollbar-width: thin;

}
