.hover-card {
  position: absolute;
  top: -190px !important ;
  z-index: 10550 !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  left: 65%;
  transform: translateX(-50%);
  pointer-events: auto;
}

.hover-card * {
  pointer-events: auto;
}

@media (max-width: 576px) {
  .hover-card {
    display: none;
  }
}

@media (max-width: 768px) {
  .hover-card {
    display: none;
  }
}

@media (max-width: 992px) {
  .hover-card {
    display: none;
  }
}

@media (max-width: 1200px) {
}

@media (min-width: 1400px) {
}
