.title-cards {
  overflow: visible;
  position: relative;
  z-index: 1;
}

.card-list {
  scroll-behavior: smooth;
  scroll-padding: 0 50px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-top: 110px;
  padding-bottom: 200px;
  margin-top: -90px;
  margin-bottom: -140px;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.wrapper {
  overflow: visible;
  position: relative;
}



.card-wrapper {
  position: relative;
  width: 250px;
  flex-shrink: 0;
  z-index: 1;
}

.card-wrapper:has(.hover-card) {
  z-index: 10010 !important;
}

.card-wrapper .card {
  position: relative;
  z-index: 2;
}

.card-wrapper:has(.hover-card) {
  z-index: 1002;
}

.card-wrapper:hover {
  z-index: 1000;
  transform: scale(1);
}

.card {
  width: 100%;
  height: auto;
  display: block;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .card-wrapper{
    width: 290px;
  }

  .scroll-btn{
    height: 164px;
    top: 192px;
  }

  .title{
    text-align: center;
  }




 

}

@media (max-width: 768px) {
 .mob-logo{
    display: block;
  }
}

@media (max-width: 992px) {
   .mob-logo{
    display: none;
  }
}

@media (max-width: 1200px) {
}

@media (min-width: 1400px) {
}
