.modal-scroll::-webkit-scrollbar {
  width: 8px;
}

.modal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

.modal-scroll::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.modal-scroll {
  scrollbar-color: #666 transparent;
  scrollbar-width: thin;
}

@media (max-width: 576px) {
  .play-box {
    position: relative;
    top: 17%;
    left: -8%;
  }

  .inf-box {
    width: 100%;
    height: 450px;
  }

  .movie-inf{
    display: flex;
    flex-direction: column;


  }

  .m-name{
    span{
      font-size: 18px;
    }
  }

  .genres, .cast, .lang-box {
    padding-left: 45px;
  }


  }


@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (min-width: 1400px) {
}
