.navbar {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  z-index: 200;
}

.acc-box {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #191919;
  width: max-content;
}

.up {
  display: none;
}

.acc-box:hover .dropdownMenu {
  display: flex;
}

.acc-box:hover .up {
  display: block;
}

.down {
  transition: transform 0.3s ease;
}

.acc-box:hover .down {
  transform: rotate(180deg);
}

.nav-dark {
  background: #141414e9;
}

.mob-logo {
  display: none;
}

.dropdownMenu::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 200px;
}

@media (max-width: 576px) {
  .navbar-left,
  .navbar-right {
    display: none;
  }
  .mob-logo {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .mob-logo {
    display: block;
  }
}

@media (max-width: 992px) {
  .navbar-left,
  .navbar-right {
    display: none;
  }
  .mob-logo {
    display: block !important;
  }
}

@media (max-width: 1200px) {
}

@media (min-width: 1400px) {
}
