.navbar {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
}

.acc-box {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #191919;
  width: max-content;
}

.up {
  display: none;
}

.acc-box:hover .dropdownMenu {
  display: flex;
}

.acc-box:hover .up {
  display: block;
}

.down {
  transition: transform 0.3s ease;
}

.acc-box:hover .down {
  transform: rotate(180deg);
}

.nav-dark {
  background: #141414e9;
}

 .mob-logo{
    display: none;
  }



/* Mobile */
@media (max-width: 576px) {
  .navbar-left, .navbar-right {
    display: none;
  }
   .mob-logo{
    display: block !important;
  }

}

/* Tablet */
@media (max-width: 768px) {
 .mob-logo{
    display: block;
  }
}

/* Laptop */
@media (max-width: 992px) {
   .mob-logo{
    display: none;
  }
}

/* Desktop */
@media (max-width: 1200px) {
}

/* Large screens */
@media (min-width: 1400px) {
}
