.navbar {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  z-index: 200;
}

.acc-box {
  position: relative;
}

.down {
  transition: transform 0.3s ease;
}

.acc-box:hover .down {
  transform: rotate(180deg);
}

.nav-dark {
  background: #141414e9;
}

.mob-logo {
  display: none;
}

.dropdownMenu::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 200px;
}

/* Добавьте это */
.dropdownMenu p:hover span {
  text-decoration: underline !important;
}

.dropdownMenu span {
  display: inline-block;
}

@media (max-width: 576px) {
  .navbar-left,
  .navbar-right {
    display: none;
  }
  .mob-logo {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .mob-logo {
    display: block;
  }
}

@media (max-width: 992px) {
  .navbar-left,
  .navbar-right {
    display: none;
  }
  .mob-logo {
    display: block !important;
  }
}