@media (max-width: 576px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}


@media (max-width: 768px) {
     .footer{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
 
}

@media (max-width: 992px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
 
}

@media (max-width: 1200px) {
}

@media (min-width: 1400px) {
}
