.skeleton {
  display: flex;
  gap: 40px;
  padding-left: 45px;
}

.skeleton-poster {
  width: 500px;
  height: 700px;
  background: linear-gradient(90deg, #222 25%, #333 37%, #222 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 8px;
}

.skeleton-info {
  width: 800px;
  height: 700px;
  background: #111;
  border-radius: 8px;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media (max-width: 576px) {
  .random-card {
    display: flex;
    flex-direction: column;
  }

  .about {
    width: auto;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
  }

  .movie-inf {
    width: auto;
    padding-left: 0px;
    margin-top: 10px;
  }

  .inf {
    justify-content: center;
  }

  .cast {
    width: auto;
    justify-content: center;
    font-size: 15px;
  }

  .like-btns {
    justify-content: center;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (min-width: 1400px) {
}
